/* Baggrunden på hele siden START*/
body {
    background-color: #97AC82;
}
/* Baggrunden på hele siden SLUT*/

/* EVENTS SIDE TITEL OG FÆLLES EVENT-STYLING */

.event-side-titel p {
    font-family: "Apple Braille", "sans-serif";
    font-size: 20px;

    display: flex;
    /* Gør body til en flex-container */

    justify-content: center;
    /* Vandret centrering */

    align-items: flex-start;
    /* Lodret centrering */
}

.event-side-titel h2 {
    display: flex;
    /* Gør body til en flex-container */

    justify-content: center;
    /* Vandret centrering */

    align-items: flex-start;
    /* Lodret centrering */
}

.event-row {
    display: flex; /* Lægger tekst og billede på række */
    align-items: center; /* Centrer lodret */
    justify-content: space-between; /* Plads mellem tekst og billede */

    gap: 4vw; /* Afstand mellem elementer */
    width: min(1200px,92vw); /* Max bredde */
    margin: 40px auto 0; /* Centrer containeren */
    flex-direction: row;
}

.event-row-reverse {
    display: flex; /* Lægger tekst og billede på række */
    align-items: center; /* Centrer lodret */
    justify-content: space-between; /* Plads mellem tekst og billede */

    gap: 4vw; /* Afstand mellem elementer */
    width: min(1200px,92vw); /* Max bredde */
    margin: 40px auto 0; /* Centrer containeren */

    /* Ændring der gør det til en row-reverse */
    flex-direction: row-reverse;
}

/* Tekstboks START */
.event-tekst {
    width: min(650px, 52vw);
    font-family: "Bodoni 72", "sans-serif";
    font-size: 20px;
    line-height: 1.5;
}
/* Tekstboks SLUT*/

/* Billede-wrapper (gør overlay muligt) */
.event-billede {
    position: relative;
    width: min(500px, 40vw);
    flex-shrink: 0;
}

.event-billede img {
    width: 100%;
    height: auto;
    display: block;
}

/* Overlay tekst (skjult før hover) */
.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.3s ease;
}

/* Vis overlay når musen er over billedet */
.event-billede:hover .overlay {
    opacity: 1;
}