.content-box {
    background-color: rgba(255,255,255,0.3);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;
    width: 110%;
    max-width: 1200px;
    position: relative;
    box-sizing: border-box;

}


.set-img {
    display: flex;
    justify-content: center; /* centers images horizontally */
    gap: 20px;               /* space between images */
    flex-wrap: wrap;          /* optional: wrap if screen is narrow */
}

.img-container {
    position: relative;
    cursor: pointer;
}

.set-image {
    width: 20vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-container:hover .set-image {
    transform: scale(1.1);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    background-color: rgba(255,255,255,0.1);
    font-family: bodoni-72, sans-serif;
    transform-origin: center center;

}

.img-container:hover .overlay-text {
    opacity: 1;
    transform: scale(1.1);
}

h1 {
    text-align: center;
    text-decoration: none;
    font-family: bodoni-72, sans-serif;
}

p {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    text-decoration: none;
    font-size: x-large;
    font-family: bodoni-72, sans-serif;
}

