/* Baggrunden på hele siden START*/
body {
    background-color: #97AC82;
}
/* Baggrunden på hele siden SLUT*/

/* Header START */
.header {
    width: 100%;
    background-color: white;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-box img {
    height: 60px;
    width: auto;
}
/* Header SLUT */

/* Menu START */
.menu-item {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/* Menu SLUT*/

/*Overskrift START*/
h2 {
    display: flex;
    /* Gør body til en flex-container */

    justify-content: center;
    /* Vandret centrering */

    align-items: flex-start;
    /* Lodret centrering */
}
/*Overskrift SLUT*/

/*Tekst vedr. opskrifter med madspild START*/
p {
    font-family: Arial;
    font-size: 20px;

    display: flex;
    /* Gør body til en flex-container */

    justify-content: center;
    /* Vandret centrering */

    align-items: flex-start;
    /* Lodret centrering */
}
/*Tekst vedr. opskrifter med madspild SLUT*/

.Boller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    width: min(1200px,92vw);
    margin: 40px auto 0;
}

.text {
    width: min(650px, 52vw);
    max-width: none;
    font-family: "Bodoni 72";
    font-size: 20px;
    line-height: 1.5;
}

.image-wrapper {
    position: relative;
    width: min(500px, 40vw);
    margin-right: 0;
    flex-shrink: 0;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.hidden_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.7);  /* hvid med 70% gennemsigtighed */
    color: black;  /* sort tekst så den kan ses */

    display: flex;
    justify-content: center;
    align-content: center;

    opacity: 0;
    transition: 0.3s ease;
}

.image-wrapper:hover .hidden_text {
    opacity: 1;
}




.Vafler {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    width: min(1200px,92vw);
    margin: 40px auto 0;
}

.tekst {
    width: min(650px, 52vw);
    max-width: none;
    font-family: "Bodoni 72";
    font-size: 20px;
    line-height: 1.5;
}

.billede {
    position: relative;
    width: min(500px, 40vw);
    margin-right: 0;
    flex-shrink: 0;
}

.billede img {
    width: 100%;
    height: auto;
    display: block;
}

.gemt_tekst {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.7);  /* hvid med 70% gennemsigtighed */
    color: black;  /* sort tekst så den kan ses */

    display: flex;
    justify-content: center;
    align-content: center;

    opacity: 0;
    transition: 0.3s ease;
}

.billede:hover .gemt_tekst {
    opacity: 1;
}




