.video-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.video-wrapper .video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.stats-section {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 40px 20px 80px 20px;
    margin-top: 60px;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    background: rgba(255, 255, 255, 0.3); /* slightly more transparent */
    backdrop-filter: blur(10px); /* blur the content behind */
    -webkit-backdrop-filter: blur(10px); /* Safari support */

    background: rgba(255, 255, 255, 0.85);
    padding: 70px;

    max-width: 1000px;
    width: 100%;

    position: relative;
    overflow: hidden; /* ensures blur edges stay inside container */
}

.stat-box {
    padding: 25px;
    border-radius: 0px;
    box-shadow: 5px 15px 15px rgba(0,0,0,0.3);;
}

.stat-box h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.stat-box p {
    line-height: 1.6;
    color: #444;
}

@media (max-width: 768px) {
    .stats-container {
        grid-template-columns: 1fr;
    }
}
