/* Baggrunden på hele siden START*/
body {
    background-color: #97AC82;
}
/* Baggrunden på hele siden SLUT*/


.stats-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 90%;
}

.stat-box { /*Kasserne rundt om pointerne*/
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 15px 15px rgba(0,0,0,0.3);

    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 90%;

}

.stat-box p {
    line-height: 1.6;
    color: black;
}