.header {
    width: 100%;
    background-color: white;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-box img {
    height: 60px;
    width: auto;
}

/* Menu*/
.menu-item {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

body {
    background-color: #97AC82;
    margin: 0;
}


/*Her starter 3 transperante boxe*/
.box-section {
    display: flex;
    justify-content: space-evenly; /* Even horizontal spacing */
    align-items: flex-start;
    margin-top: 45vh; /* Instead of absolute positioning */
}

.transparent-box {
    width: 30vw;
    height: 35vh;
    padding: 20px;
    background: linear-gradient(
            to top,
            #fefae080,   /* bottom - mostly solid */
            #fefae015      /* top - fully transparent */
    );
}

/*Her slutter 3 transperante boxe*/


/*Her starter TICKER / RULLER*/
.ticker-section {
    background: #111;
    overflow: hidden;
    padding: 20px 0;

    position: fixed; /* footer sidder fast nederst*/
    bottom: 48px;
    width: 100%;
}

.ticker {
    width: 100%;
    overflow: hidden;
}

.ticker-track {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.ticker-track span {
    color: white;
    font-weight: bold;
    font-size: 18px;
    }

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Her slutter TICKER / RULLER */


.footer {
    display: flex; /* gør at divs ligger på række*/
    justify-content: space-between; /* fordeler dem på en række*/
    align-items: center;

    position: fixed; /* footer sidder fast nederst*/
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 15px 0;
}

.footer-box {
    flex: 1; /* alle får lige meget plads*/
    text-align: center;
}