header {
    background-color: white;
}

img {
    width: 150px;
    float: left;
}

menu {
    float: right;
    margin-bottom: 50px;
}

menu a {
    color: white;
    margin-left: 50px;
    font-weight: bold;
    justify-content: space-around;
}

body {
    background-color: darkgreen;

    /* Margin og padding er fordi at body by default er forskudt omkring 10 px. Dette resetter det*/
    margin: 0;
    padding: 0;
}

#opskrifter {
    display: flex;
}



/*Her starter TICKER / RULLER*/
.ticker-section {
    background: #111;
    overflow: hidden;
    padding: 20px 0;

    position: fixed; /* footer sidder fast nederst*/
    bottom: 50px;
    width: 100%;
}

.ticker {
    width: 100%;
    overflow: hidden;
}

.ticker-track {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.ticker-track span {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }}
/* Her slutter TICKER / RULLER */


.footer {
    display: flex;  /* gør at divs ligger på række*/
    justify-content: space-between; /* fordeler dem på en række*/
    align-items: center;

    position: fixed; /* footer sidder fast nederst*/
    bottom: 0;
    width: 100%;
}

.footer-box {
    flex: 1;  /* alle får lige meget plads*/
    text-align: center;
}