.logo img{
    width: 150px;
}

body{
    background-color: darkgreen;
}








.ticker-section {
    background: #111;
    overflow: hidden;
    padding: 20px 0;
}

.ticker {
    width: 100%;
    overflow: hidden;
}

.ticker-track {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.ticker-track span {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }}




#socials {
    display: flex;
    justify-content: center;
    align-items: baseline;
}